<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.orgtec.farm.mapper.FarmRoomMapper">

    <resultMap id="farmRoomMap" type="cn.orgtec.farm.entity.FarmRoomEntity">
        <id property="id" column="id"/>
        <result property="shopId" column="shop_id"/>
        <result property="roomName" column="room_name"/>
        <result property="roomPhotos" column="room_photos"/>
        <result property="price" column="price"/>
        <result property="breakfast" column="breakfast"/>
        <result property="airConditioner" column="air_conditioner"/>
        <result property="bedType" column="bed_type"/>
        <result property="wifi" column="wifi"/>
        <result property="baggageDeposit" column="baggage_deposit"/>
        <result property="roomType" column="room_type"/>
        <result property="checkinNumber" column="checkin_number"/>
        <result property="roomDescribe" column="room_describe"/>
        <result property="updownStatus" column="updown_status"/>
        <result property="status" column="status"/>
    </resultMap>
</mapper>
