<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.orgtec.farm.mapper.SysRoleMapper">

  <resultMap id="sysRoleMap" type="cn.orgtec.farm.entity.SysRole">
                  <id property="roleId" column="role_id"/>
                        <result property="roleName" column="role_name"/>
                        <result property="roleCode" column="role_code"/>
                        <result property="roleDesc" column="role_desc"/>
                        <result property="dsType" column="ds_type"/>
                        <result property="dsScope" column="ds_scope"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="tenantId" column="tenant_id"/>
            </resultMap>
</mapper>
