<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.orgtec.farm.mapper.SysUserMapper">

  <resultMap id="sysUserMap" type="cn.orgtec.farm.entity.SysUser">
                  <id property="userId" column="user_id"/>
                        <result property="username" column="username"/>
                        <result property="password" column="password"/>
                        <result property="salt" column="salt"/>
                        <result property="phone" column="phone"/>
                        <result property="avatar" column="avatar"/>
                        <result property="deptId" column="dept_id"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="lockFlag" column="lock_flag"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="wxOpenid" column="wx_openid"/>
                        <result property="qqOpenid" column="qq_openid"/>
                        <result property="giteeLogin" column="gitee_login"/>
                        <result property="oscId" column="osc_id"/>
                        <result property="tenantId" column="tenant_id"/>
            </resultMap>
</mapper>
